[v-cloak] {
    display: none !important;
}

label {
    font-weight: normal;
}

input {
    border: 1px solid #DBDBDB;
    background: #fff;
}

li {
    list-style-type: none;
    border-left: 0px;
    text-align: center;
}

tbody {
    table-layout: fixed;
    border-color: inherit;
    /*
    display: block;
    overflow-y: scroll;
    height: 500px;
    */
}

.logo {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    ext-align: center;
    margin-top: 2%;
}

.center-group {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 390px;
    height: auto;
    background: #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    margin: 0 auto;
    margin-left: -202px;
    margin-top: -188px;
}

.center-padding {
    padding: 28px 47px 20px 47px;
}

.center-boder h2 {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

.center-boder h3 {
    color: blue;
    font-size: 12px;
    font-weight: normal;
}

.center-boder input.txt-input {
    width: 295px;
    height: 36px;
    border: 1px solid #cad2db;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    line-height: 36px;
    font-size: 14px;
    font-family: Arial;
    font-weight: lighter;
    color: #717171;
}

.center-boder input.txt-input:focus {
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    -ms-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    outline: none;
    -moz-box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    -webkit-box-shadow: 0 0 8px rgba(173, 173, 173, 3);
    box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    border-color: rgba(173, 173, 173, .75);
    border: 1px solid #6192c8;
}

.center-boder p.forgot {
    font-size: 11px;
    text-align: right;
    margin-bottom: 15px;
    margin-right: 13px;
}

.center-boder p.forgot a,
.center-boder p.forgot a:visited {
    color: #8c8e91;
    cursor: pointer;
}

.center-boder p.forgot a:hover {
    color: #206fd5;
}

#center-button {
    background: rgb(31, 73, 125);
    color: white;
    height: 36px;
    width: 295px;
    font-size: 14px;
}

.modal-body h {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

.modal-body input.txt-input {
    width: 295px;
    height: 36px;
    border: 1px solid #cad2db;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    line-height: 36px;
    font-size: 14px;
    font-family: Arial;
    font-weight: lighter;
    color: #717171;
}

.modal-body input.txt-input:focus {
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    -ms-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    outline: none;
    -moz-box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    -webkit-box-shadow: 0 0 8px rgba(173, 173, 173, 3);
    box-shadow: 0 0 8px rgba(173, 173, 173, .5);
    border-color: rgba(173, 173, 173, .75);
    border: 1px solid #6192c8;
}

.sec-menu {
    background-color: rgb(108, 152, 209);
    padding-top: 16px;
    padding-bottom: 12px;
    color: black;
    font-size: 22px;
}

.sec-menu a {
    font-style: normal;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 20px;
    margin-right: 25px;
    color: black;
    float: right;
    text-decoration: none;
}

.sec-menu a.logout {
    margin-right: 0px;
    cursor: pointer;
}

#side-menu {
    height: 100%;
    position: fixed;
    left: -250px;
    background-color: rgb(108, 152, 209);
    color: #fff;
    z-index: 999;
    overflow: auto;
    max-width: 500px;
    overflow: auto;
}

#side-menu ul {
    list-style: none;
    padding: 0px;
}

#side-menu ul li {
    border-bottom: 1px solid #3BA551;
    padding: 20px 25px;
    color: black;
    cursor: pointer;
}

#side-menu ul li a i {
    padding-right: 10px;
}

#side-menu ul li a,
#side-menu ul li a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu-close-icon,
.menu-open-icon {
    cursor: pointer;
}

.header-line {
    font-weight: 900;
    padding-bottom: 10px;
    padding-top: 30px;
    border-bottom: 1px solid #eeeeee;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0.1%;
    margin-top: 2.5%;
    margin-bottom: 0.5%;
}

.header-line h4 {
    float: left;
    margin-top: 2.5%;
    margin-bottom: 0.5%;
}

.header-line label.txt {
    display: block;
    margin: 0px;
}

.arrow {
    position: relative;
    display: inline-block;
}

.arrow-down {
    border-top: 12.5px solid rgb(128, 128, 128);
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    display: block;
}

.arrow-up {
    border-bottom: 12.5px solid rgb(128, 128, 128);
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    display: block;
}

.arrow-left {
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 12.5px solid rgb(128, 128, 128);
    display: block;
}

.arrow-right {
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 12.5px solid rgb(128, 128, 128);
    display: block;
}

.arrow-button {
    border: 1px solid rgb(220, 220, 220);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #fafafa;
    text-align: center;
    float: right;
    width: 46px;
    margin-left: 1%;
    cursor: pointer;
}

.filter-button {
    border: 1px solid rgb(220, 220, 220);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #fafafa;
    text-align: center;
    float: right;
    width: 46px;
    margin-left: 1%;
    cursor: pointer;
    color: rgb(128, 128, 128);
    font-size: 45px;
}

.goto-top-button {
    overflow: hidden;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 10;
}

.goto-top-button a{
    border: 1px solid rgb(220, 220, 220);
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #fafafa;
    float: right;
    padding: 6px 10.5px;
}

.goto-top-button fa {
    cursor: pointer;
    color: rgb(155, 155, 155)
}

.panel {
    padding: 0%;
}

.panel-query {
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0%;
}

.panel-query label.txt {
    font-weight: normal;
    text-align: right;
}

.panel-query input.txt-input {
    max-width: 35%;
    padding: 0 5px;
}

.panel-query-item {
    float: left;
    margin: 0% 1% 0% 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.panel-list-item {
    background: #fafafa;
}

.panel-list-item i.fa {
    float: left;
    margin-left: 10%;
    padding: 0%;
    font-size: 16px;
    cursor: pointer;
}

.panel-list-column {
    float: left;
    text-align: left;
}

.panel-fold {
    width: 100%;
    height: 308px;
    margin-top: 0%;
    border-top: 1px dashed rgb(195, 195, 201);
}

.panel-fold label {
    float: left;
    margin: 1% 1% 1% 1%;
    text-align: center;
    color: rgb(108, 152, 209);
}

.panel-fold i.fa {
    margin: 1% 1% 1% 1%;
    float: right;
    margin-left: 0%;
    padding: 0%;
    font-size: 16px;
    cursor: pointer;
}

.panel-fold-area {
    float: left;
    height: 285px;
    border: 1px solid rgb(220, 220, 220);
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.panel-fold-area textarea {
    border: none;
    width: 100%;
    height: 93%;
    outline: none;
}

.text-wrapper {
    white-space: pre-wrap;
}

.no-color {
    background-color: rgb(245, 245, 255);
    color: rgb(245, 245, 255);
    margin: 0%;
    width: 1em;
    height: 4px;
    border-top: 1px solid rgb(245, 245, 255);
}

.manage-color {
    background-color: rgb(128, 100, 162);
    color: rgb(128, 100, 162);
    margin: 0%;
    width: 1em;
    height: 4px;
    border-top: 1px solid rgb(245, 245, 255);
}

.investigate-color {
    background-color: rgb(0, 112, 192);
    color: rgb(0, 112, 192);
    margin: 0%;
    width: 1em;
    height: 4px;
    border-top: 1px solid rgb(245, 245, 255);
}

.develop-color {
    background-color: rgb(247, 150, 70);
    color: rgb(247, 150, 70);
    margin: 0%;
    width: 1em;
    height: 4px;
    border-top: 1px solid rgb(245, 245, 255);
}

.test-color {
    background-color: rgb(255, 255, 0);
    color: rgb(255, 255, 0);
    margin: 0%;
    width: 1em;
    height: 4px;
    border-top: 1px solid rgb(245, 245, 255);
}

.implement-color {
    background-color: rgb(0, 176, 240);
    color: rgb(0, 176, 240);
    margin: 0%;
    width: 1em;
    height: 4px;
    border-top: 1px solid rgb(245, 245, 255);
}

.maintenance-color {
    background-color: rgb(146, 208, 80);
    color: rgb(146, 208, 80);
    margin: 0%;
    width: 1em;
    height: 4px;
    border-top: 1px solid rgb(245, 245, 255);
}

.badge-chapter {
    margin: 0% 2% 0% 0%;
    float: left;
}

#wait-hold {
    cursor: wait;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#wait-hold label {
    width: 100%;
    margin-top: 2.5%;
    text-align: center;
    color: rgb(245, 245, 255);
}

#trh {
    margin-top: 50%;
}

table.table1 {
    display: table;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
    table-layout: fixed;
    word-break: break-all;
}

.table1 thead tr th {
    display: table-cell;
    padding: 0px;
    color: #fff;
    /*text-shadow: 1px 1px 1px rgb(255, 255, 255);*/
    border: 1px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.02, rgb(255, 255, 255)), color-stop(0.51, rgb(255, 255, 255)), color-stop(0.87, rgb(255, 255, 255)));
    background: -moz-linear-gradient(center bottom, rgb(255, 255, 255) 2%, rgb(255, 255, 255) 51%, rgb(255, 255, 255) 87%);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    /*-moz-border-radius: 5px 5px 0px 0px;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 14px;
}

.table1 thead th:empty {
    background: transparent;
    border: none;
}

.table1 tbody th {
    color: #fff;
    /*text-shadow: 1px 1px 1px rgb(255, 255, 255);*/
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    padding: 0px 10px;
    background: -webkit-gradient( linear, left bottom, right top, color-stop(0.02, rgb(255, 255, 255)), color-stop(0.51, rgb(255, 255, 255)), color-stop(0.87, rgb(255, 255, 255)));
    background: -moz-linear-gradient( left bottom, rgb(255, 255, 255) 2%, rgb(255, 255, 255) 51%, rgb(255, 255, 255) 87%);
    /*-moz-border-radius: 5px 0px 0px 5px;*/
    -webkit-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table1 tfoot td {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0px;
    /*text-shadow: 1px 1px 1px rgb(134, 134, 134);*/
}

.table1 tfoot th {
    color: rgb(134, 134, 134);
}

.table1 tbody td {
    padding: 0%;
    text-align: center;
    display: table-cell;
    background-color: rgb(245, 245, 255);
    border: 3px solid rgb(255, 255, 255);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    color: black;
    /*text-shadow: 1px 1px 1px #fff;*/
    height: calc(width);
    word-wrap: break-word;
}

.totalworkload {
    text-align: center;
    font-family: Microsoft YaHei, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: royalblue;
    padding: 0%;
    margin: 3px 0% 0% 0%;
    line-height: 55px;
}

.vertical-center {
    position: absolute;
    bottom: 50%;
    transform: translate(0%, 50%);
}

.xiujiainput {
    border: none;
    width: 49px;
    height: 100%;
    background-color: rgb(245, 245, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

.resultitem {
    color: royalblue;
    float: left;
}

.line {
    height: 500px;
}

.tabli {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1.2px solid rgb(187, 187, 187);
    border-left: 1.2px solid rgb(187, 187, 187);
    border-right: 1.2px solid rgb(187, 187, 187);
    border-bottom: 1.2px solid rgb(83, 163, 233);
    background-color: #fff;
}

.active {
    background-color: #fff;
    border-top: 1.2px solid rgb(83, 163, 233);
    border-left: 1.2px solid rgb(83, 163, 233);
    border-right: 1.2px solid rgb(83, 163, 233);
    border-bottom: 1.2px solid #fafafa;
}

.helpp {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.projectitem {
    margin-bottom: 0.5%;
}

.kalendae {
    width: 15%;
}

.k-calendar {
    margin-left: 7%;
}

.content-wrapper {
    min-height: 1000px;
}

#tablehead {
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

.myhide {
    visibility: hidden;
}
