<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="lib/fonts/font-awesome.min.css">
    <script>
        document.write("<link rel='stylesheet' href='base-style.css?v=" + new Date().toLocaleDateString() + "' charset='UTF-8'>");
    </script>
    <title>月工作量</title>
</head>

<body>
<style>
    .list-group-item {
        border: 0px solid #ddd;
        padding: 0%;
        margin: 4% 0% 4% 0%;
    }

    .project-hr {
        margin: 0% 2% 0% 0%;
        float: right;
    }

    .workload-hr {
        margin: 0% 0% 0% 4%;
        width: 22%;
        float: right;
    }

    .project-name {
        float: right;
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
        height: auto;
        overflow: hidden;
        font-size: 14px;
        font-weight: lighter;
    }

    .workloadtd {
        height: 55px;
        width: 55px
    }

    .workloadnum {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0%;
        font-weight: bold;
        color: black;
    }
</style>

    <div id="menu"></div>

    <div class="content" id="content">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <div class="header-line">
                        <h4 style="float:left;margin-top:2.5%;margin-bottom:0%">月工作量</h4>
                        <h5 v-cloak v-if="myremain>0" style="float:left;margin:2.7% 0% 0% 2%;color:rgb(180,180,180)">您还有{{myremain}}天可填报</h5>
                        <div class="time" id="time">
                            <div class="month button" style="float:right;margin-left: 1%; ">
                                <span class="arrow arrow-up " style="display: block;cursor:pointer;" @click="addMonth() "></span>
                                <label v-cloak style="text-align:center;display: block ;margin: 0px">{{date.Month}}</label>
                                <span class="arrow arrow-down " style="display: block;cursor:pointer;" @click="minusMonth() "></span>
                            </div>
                            <div class="year button" style="float: right;margin-left: 1%;">
                                <span class="arrow arrow-up" style="display: block;cursor:pointer;" @click="addYear() "></span>
                                <label v-cloak style="text-align: center;display:block; margin: 0px">{{date.Year}}</label>
                                <span class="arrow arrow-down " style="display: block;cursor:pointer;" @click="minusYear() "></span>
                            </div>
                            <div class="button" style="float: right;width:45px;text-align: center;cursor: pointer;" @click="filter()" :title="(globaluser.Department.Name == '公司管理' || globaluser.Position.Name == '管理')?'过滤':(globaluser.Roles.项目管理 ||filterstate!=2)?filtertitle[filterstate]:filtertitle[filterstate+1]">
                                <i class="fa fa-filter" aria-hidden="true" style="color: rgb(128, 128, 128);font-size: 45px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;" class="col-md-12">
                <table class="table1" style="margin: 0 auto;">
                    <tbody>
                    <thead id="tablehead">
                        <tr>
                            <th class="col-md-3" id="thfirst">
                                <div id="iconbtn" style="float:right">
                                    <i class="fa fa-step-backward myhide" id="trh" style="color:gray;font-size: 20px;cursor:pointer;" aria-hidden="true" @click="firstpage() "></i>
                                    <i class="fa fa-chevron-left" id="trh" style="color: gray; font-size: 18px;cursor:pointer;" aria-hidden="true" @click="prepage() "></i>
                                </div>
                            </th>
                            <th v-cloak class="coworkers" id="coworkers" v-for="item in projecttime[0]" style="text-align: center;font-family:Microsoft YaHei, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: normal;color:royalblue;width:55px;vertical-align:bottom;">{{item.Worker}}</th>
                            <th>
                                <div style="float:left;">
                                    <i class="fa fa-chevron-right" id="trh" style="color: gray;font-size: 18px;cursor:pointer;" aria-hidden="true " @click="nextpage() "></i>
                                    <i class="fa fa-step-forward" id="trh" style="color: gray;font-size: 20px;cursor:pointer;" aria-hidden="true " @click="lastpage()"></i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tr v-cloak id="datatr" v-for='(item, index) in projecttime'>
                        <td class="col-md-3" @click="showproject(index)" style="background-color: white;
                                                                        color: royalblue;height: 55px;min-width: 200px;">
                            <div style="float: right;width:100%;" v-show="projects[index].ProjectName!='休假'&& projects[index].ProjectName!='其他'">
                                <hr class="project-hr maintenance-color" v-if="projects[index].MaintenanceWork" />
                                <hr class="project-hr no-color" v-else />
                                <hr class="project-hr implement-color" v-if="projects[index].ImplementWork" />
                                <hr class="project-hr no-color" v-else />
                                <hr class="project-hr test-color" v-if="projects[index].TestWork" />
                                <hr class="project-hr no-color" v-else />
                                <hr class="project-hr develop-color" v-if="projects[index].DevelopWork" />
                                <hr class="project-hr no-color" v-else />
                                <hr class="project-hr investigate-color" v-if="projects[index].InvestigateWork" />
                                <hr class="project-hr no-color" v-else />
                                <hr class="project-hr manage-color" v-if="projects[index].ManageWork" />
                                <hr class="project-hr no-color" v-else />
                            </div>
                            <div v-cloak class="project-name">
                                {{projects[index].ProjectName}}
                            </div>
                        </td>
                        <td v-if="item[0].ProjectName=='休假'" class="workloadtd" v-for='(items,indexs) in item'>
                            <input v-if="vm.user.Department.Name == items.Department && (vm.user.Position.Name == '管理' || vm.user.UserName ==items.Worker || vm.user.UserName == items.ProjectManager || vm.user.UserName == items.DevlopManager)" class="xiujiainput" :value="items.Workload>0?items.Workload:null"
                                   type="text" min="0" @input="changexiujia(items,index,indexs,$event)" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode) ) )'>
                            <p class="workloadnum" v-else v-show="items.Workload>0">{{items.Workload}}</p>
                        </td>
                        <td v-if="item[0].ProjectName!='休假'" class="mypopover workload" id="mypopover" type="buttonon" data-container="body" data-toggle="popover" valign="top" v-for='(items,indexs) in item' @click="showpopover($event,items,index,indexs)">
                            <div class="popodiv" id="popodiv" style="clear:both;margin:0%;padding:0%;height:12px">
                                <div style="clear:both">
                                    <hr class="develop-color workload-hr" v-if="items.DevelopWorkloadRole>0" />
                                    <hr class="no-color workload-hr" v-else />
                                    <hr class="investigate-color workload-hr" v-if="items.InvestigateWorkloadRole>0" />
                                    <hr class="no-color workload-hr" v-else />
                                    <hr class="manage-color workload-hr" v-if="items.ManageWorkloadRole>0" />
                                    <hr class="no-color workload-hr" v-else />
                                </div>
                                <div style="clear:both">
                                    <hr class="maintenance-color workload-hr" v-if="items.MaintenanceWorkloadRole>0" />
                                    <hr class="no-color workload-hr" v-else />
                                    <hr class="implement-color workload-hr" v-if="items.ImplementWorkloadRole>0" />
                                    <hr class="no-color workload-hr" v-else />
                                    <hr class="test-color workload-hr" v-if="items.TestWorkloadRole>0" />
                                    <hr class="no-color workload-hr" v-else />
                                </div>
                            </div>
                            <p class="workloadnum" v-show="items.Workload>0">{{items.Workload}}</p>
                        </td>
                        <td style="background-color: white;color:royalblue;font-weight: lighter;text-align:left;">
                            {{totalprojecttime[index]}}
                        </td>
                    </tr>
                    <tr style="background: white">
                        <td style="background: white"></td>
                        <td v-cloak v-for="item in coworkers " style="background: white">
                            <p style="text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin:0%;font-weight:lighter;color:royalblue;">{{workday}}</p>
                        </td>
                        <td style="background: white"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="storepopover" class="hide">
            <div id="changework">
                <div v-if="nowchoose.ProjectName=='其他'">
                    <p class="lip" style="margin: 0% 8% 0% 6%;white-space:nowrap;">{{nowchoose.Workload}}天待分配</p>
                </div>
                <div v-else>
                    <ul class="list-group" style="padding: 0%;margin:0%;width: 250px">
                        <li v-if="remaindays>0" class="list-group-item">
                            <div style="color:orange">
                                {{nowchoose.Worker}}还剩{{remaindays}}天可填报
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="lidiv">
                                <hr class="vertical-center manage-color" style="float: left;" />
                                <p class="lip" title="人员、产品、过程和项目进行分析和管理等工作" style="margin: 0% 6% 0% 8%;display: inline;">管理</p>
                                <input v-if="canedit && manageedit" class="liinput" :value="nowchoose.ManageWorkloadRole" style="text-align: center;display: inline;" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode)))' @input="changedata($event,'0')" />
                                <input disabled="disabled" v-else title="不允许填写" style="text-align: center;display: inline;background:rgb(246, 246, 246)" :value="nowchoose.ManageWorkloadRole" />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="lidiv">
                                <hr class="vertical-center investigate-color" style="float: left;" />
                                <p class="lip " title="收集，分析，调研，撰写项目需求等工作 " style="margin: 0% 6% 0% 8%;display: inline; ">需求</p>
                                <input v-if="canedit && investigateedit" class="liinput " :value="nowchoose.InvestigateWorkloadRole " style="text-align: center;display: inline;" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode)))' @input="changedata($event, '1') ">
                                <input disabled="disabled" v-else title="不允许填写" :value="nowchoose.InvestigateWorkloadRole" style="text-align: center;display: inline;background:rgb(246, 246, 246)" />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="lidiv">
                                <hr class="vertical-center develop-color" style="float: left;" />
                                <p class="lip " title="项目的需求和维保期提出的新增需求等开发工作 " style="margin: 0% 6% 0% 8%;display: inline; ">研发</p>
                                <input v-if="canedit && developedit" class="liinput" :value="nowchoose.DevelopWorkloadRole" style="text-align: center;display: inline;" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode)))' @input="changedata($event, '2')">
                                <input disabled="disabled" v-else title="不允许填写" :value="nowchoose.DevelopWorkloadRole" style="text-align: center;display: inline;background:rgb(246, 246, 246)" />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="lidiv">
                                <hr class="vertical-center test-color" style="float: left;" />
                                <p class="lip " title="测试项目，检验项目是否满足需求等工作" style="margin: 0% 6% 0% 8%;display: inline;">测试</p>
                                <input v-if="canedit && testedit" class="liinput" :value="nowchoose.TestWorkloadRole" style="text-align: center;display: inline;" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode)))' @input="changedata($event, '3')">
                                <input disabled="disabled" v-else title="不允许填写" :value="nowchoose.TestWorkloadRole" style="text-align: center;display: inline;background:rgb(246, 246, 246)" />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="lidiv">
                                <hr class="vertical-center implement-color" style="float: left;" />
                                <p class="lip " title="安装实施项目，项目培训，协助项目验收,验收之前的维护等工作 " style="margin: 0% 6% 0% 8%;display: inline;">实施</p>
                                <input v-if="canedit && implementedit" class="liinput" :value="nowchoose.ImplementWorkloadRole" style="text-align: center;display: inline;" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode)))' @input="changedata($event, '4')">
                                <input disabled="disabled" v-else title="不允许填写" :value="nowchoose.ImplementWorkloadRole" style="text-align: center;display: inline;background:rgb(246, 246, 246)" />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="lidiv">
                                <hr class="vertical-center maintenance-color" style="float: left;" />
                                <p class="lip " title="质保期和维保期处理电话、排除bug，解决客户使用问题等工作。如果开发项目未进入质保期，相关工作量请填写到实施栏中 " style="margin: 0% 6% 0% 8%;display: inline;">维保</p>
                                <input v-if="canedit && maintenanceedit" class="liinput" :value="nowchoose.MaintenanceWorkloadRole" style="text-align: center;display: inline;" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode)))' @input="changedata($event, '5')">
                                <input disabled="disabled" v-else title="不允许填写" :value="nowchoose.MaintenanceWorkloadRole" style="text-align: center;display: inline;background:rgb(246, 246, 246);" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="lib/crypto-js/core-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/enc-base64-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/cipher-core-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/aes-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/md5-min.js"></script>
    <script type="text/javascript" src="lib/json2.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="lib/jquery.base64.js"></script>
    <script type="text/javascript" src="lib/signalr.min.js"></script>
    <script type="text/javascript" src="lib/phenix7.js"></script>

    <script type="text/javascript" src="lib/vue.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/lodash.js"></script>

    <script type="text/javascript" src="base-func.js?v=1"></script>
    <script>
        document.write("<script type='text/javascript' src='workload.js?v=" + new Date().toLocaleDateString() + "'><\/script>");
    </script>

    <div id="wait-hold"></div>
</body>

</html>