<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="lib/fonts/font-awesome.min.css">
    <script>
        document.write("<link rel='stylesheet' href='base-style.css?v=" + new Date().toLocaleDateString() + "' charset='UTF-8'>");
    </script>
    <title>月工作量</title>
</head>

<body>
    <div id="menu"></div>

    <div class="content" id="content" v-cloak>
        <div class="container">
            <div class="header-line col-md-12">
                <h4>{{stateTitle[state]}}</h4>
                <div class="arrow-button">
                    <span class="arrow arrow-up" @click="onPlusMonth()" title="下一月"></span>
                    <label class="txt">{{month}}</label>
                    <span class="arrow arrow-down" @click="onMinusMonth()" title="上一月"></span>
                </div>
                <div class="arrow-button">
                    <span class="arrow arrow-up" @click="onPlusYear()" title="下一年"></span>
                    <label class="txt">{{year}}</label>
                    <span class="arrow arrow-down" @click="onMinusYear()" title="上一年"></span>
                </div>
                <div class="filter-button fa fa-filter" @click="onFiler()" :title="filterStateTitle[state]"></div>
            </div>
            <div class="col-md-12" style="clear: both;">
                <table class="table1" style="margin: 0 auto;">
                    <thead id="table-head" style="overflow-x: hidden;" v-show="filteredMyselfCompanyUserPages.count > 0">
                        <tr>
                            <th class="col-md-3" id="table-head-first">
                                <div style="float: right;">
                                    <i class="arrow-page fa fa-step-backward" @click="onFirstPage()" title="1"></i>
                                    <i class="arrow-page fa fa-chevron-left" @click="onPrePage()" :title="(pageNo - 1) + '/' + filteredMyselfCompanyUserPages.count"></i>
                                </div>
                            </th>
                            <th v-for="item in filteredMyselfCompanyUserPages[pageNo]" style="width: 52px; text-align: center; font-size: 13px; font-weight: lighter; color: royalblue;">{{item.RegAlias}}</th>
                            <th>
                                <div style="float: left;">
                                    <i class="arrow-page fa fa-chevron-right" @click="onNextPage()" :title="(pageNo + 1) + '/' + filteredMyselfCompanyUserPages.count"></i>
                                    <i class="arrow-page fa fa-step-forward" @click="onLastPage()" :title="filteredMyselfCompanyUserPages.count"></i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tfoot id="table-foot" style="overflow-x: hidden;" v-show="filteredMyselfCompanyUserPages.count > 0">
                        <tr>
                            <th class="col-md-3" id="table-foot-first">
                                <div style="float: right; width: 100%; text-align: right; font-size: 13px; font-weight: lighter; color: royalblue;">剩余可填报天数</div>
                            </th>
                            <th v-for="item in filteredMyselfCompanyUserPages[pageNo]" style="width: 52px; text-align: center; font-size: 13px; font-weight: lighter; color: royalblue;">
                                {{workerProjectWorkloads != null && workerProjectWorkloads[item.Id] != null ? workerProjectWorkloads[item.Id].remainDays : ''}}
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr v-for="projectInfo in filteredProjectInfos">
                            <td class="col-md-3" style="background: white; color: royalblue; height: 52px; cursor: pointer;" @click="onTotalProjectWorkload(projectInfo)">
                                <div style="float: right; width: 100%;">
                                    <hr class="badge-chapter manage-color" title="可填报项目管理工作量" v-if="projectInfo.ManageWork" />
                                    <hr class="badge-chapter no-color" title="不可填报项目管理工作量" v-else />
                                    <hr class="badge-chapter investigate-color" title="可填报调研分析工作量" v-if="projectInfo.InvestigateWork" />
                                    <hr class="badge-chapter no-color" title="不可填报调研分析工作量" v-else />
                                    <hr class="badge-chapter develop-color" title="可填报设计开发工作量" v-if="projectInfo.DevelopWork" />
                                    <hr class="badge-chapter no-color" title="不可填报设计开发工作量" v-else />
                                    <hr class="badge-chapter test-color" title="可填报联调测试工作量" v-if="projectInfo.TestWork" />
                                    <hr class="badge-chapter no-color" title="不可填报联调测试工作量" v-else />
                                    <hr class="badge-chapter implement-color" title="可填报培训实施工作量" v-if="projectInfo.ImplementWork" />
                                    <hr class="badge-chapter no-color" title="不可填报培训实施工作量" v-else />
                                    <hr class="badge-chapter maintenance-color" title="可填报质保维保工作量" v-if="projectInfo.MaintenanceWork" />
                                    <hr class="badge-chapter no-color" title="不可填报质保维保工作量" v-else />
                                </div>
                                <div style="float: right; width: 100%; height: 48px; word-wrap: break-word; word-break: break-all; overflow: hidden; font-size: 13px; font-weight: lighter; text-align: right;">{{projectInfo.ProjectName}}</div>
                            </td>
                            <td v-for="myselfCompanyUser in filteredMyselfCompanyUserPages[pageNo]" style="width: 52px; height: 52px; cursor: pointer;" @click="onShowChangeWorkloadPopover($event, projectInfo, myselfCompanyUser)">
                                <div style="clear: both; margin-top: -10px;">
                                    <div style="clear: both;">
                                        <hr class="badge-chapter-small develop-color" title="设计开发" v-if="projectInfo[myselfCompanyUser.Id] != null && projectInfo[myselfCompanyUser.Id].DevelopWorkload > 0" />
                                        <hr class="badge-chapter-small no-color" title="设计开发" v-else />
                                        <hr class="badge-chapter-small investigate-color" title="调研分析" v-if="projectInfo[myselfCompanyUser.Id] != null && projectInfo[myselfCompanyUser.Id].InvestigateWorkload > 0" />
                                        <hr class="badge-chapter-small no-color" title="调研分析" v-else />
                                        <hr class="badge-chapter-small manage-color" title="项目管理" v-if="projectInfo[myselfCompanyUser.Id] != null && projectInfo[myselfCompanyUser.Id].ManageWorkload > 0" />
                                        <hr class="badge-chapter-small no-color" title="项目管理" v-else />
                                    </div>
                                    <div style="clear: both;">
                                        <hr class="badge-chapter-small maintenance-color" title="质保维保" v-if="projectInfo[myselfCompanyUser.Id] != null && projectInfo[myselfCompanyUser.Id].MaintenanceWorkload > 0" />
                                        <hr class="badge-chapter-small no-color" title="质保维保" v-else />
                                        <hr class="badge-chapter-small implement-color" title="培训实施" v-if="projectInfo[myselfCompanyUser.Id] != null && projectInfo[myselfCompanyUser.Id].ImplementWorkload > 0" />
                                        <hr class="badge-chapter-small no-color " title="培训实施" v-else />
                                        <hr class="badge-chapter-small test-color" title="联调测试" v-if="projectInfo[myselfCompanyUser.Id] != null && projectInfo[myselfCompanyUser.Id].TestWorkload > 0" />
                                        <hr class="badge-chapter-small no-color" title="联调测试" v-else />
                                    </div>
                                </div>
                                <div style="clear: both; margin-top: 10px;">
                                    <label style="color: rgb(31, 73, 125); width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; text-align: center; cursor: pointer;">
                                        {{projectInfo[myselfCompanyUser.Id] != null && projectInfo[myselfCompanyUser.Id].totalWorkload > 0 ? projectInfo[myselfCompanyUser.Id].totalWorkload : ''}}
                                    </label>
                                </div>
                            </td>
                            <td style="background-color: white; color: royalblue; font-size: 13px; font-weight: lighter; text-align: left;">{{projectInfo.totalWorkload}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="goto-top-button">
            <a title="返回顶部" href="#">
                <i class="fa fa-angle-up fa-2x" type="button"></i>
            </a>
        </div>
    </div>

    <script type="text/javascript" src="lib/crypto-js/core-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/enc-base64-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/cipher-core-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/aes-min.js"></script>
    <script type="text/javascript" src="lib/crypto-js/md5-min.js"></script>
    <script type="text/javascript" src="lib/json2.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="lib/jquery.base64.js"></script>
    <script type="text/javascript" src="lib/signalr.min.js"></script>
    <script type="text/javascript" src="lib/phenix7.js"></script>

    <script type="text/javascript" src="lib/vue.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="base-func.js?v=1"></script>
    <script>
        document.write("<script type='text/javascript' src='workload.js?v=" + new Date().toLocaleDateString() + "'><\/script>");
    </script>

    <div id="wait-hold" style="display: none"></div>
</body>

</html>